.Menu {
  .menu-friends {
    text-align: left;
  }

  .menu-games {
    text-align: right;
  }

  .center-block {
    margin-top: 10px;
  }

  .stats {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 3em;
  }

  .game {
    margin: 10px;
  }

  // .linkHeader .linkHeader:hover{
  //   text-decoration: none;
  // } not working yet
}